/* 动画类 */
.bounce{
  animation:bounce .7s linear;
}

.fade-in{
  animation-name:fade-in;
}

.fade-in-scale{
  animation:fade-in-scale .48s var(--cubic-bezier) forwards;
}

.fade-out{
  animation-fill-mode:forwards;
  animation-name:fade-out;
}

.fade-out-scale{
  animation:fade-out-scale .25s var(--cubic-bezier) forwards;
}

.rebound{
  animation:rebound .7s linear;
}

.twinkle{
  animation:twinkle 1s infinite;
  will-change:opacity;
}

.zoom-in{
  animation-name:zoom-in;
}

.zoom-out{
  animation-fill-mode:forwards;
  animation-name:zoom-out;
}

/* 关键帧动画 */
@keyframes bounce{
  0%{transform:scale(.8)}
  20%{transform:scale(1.2)}
  40%{transform:scale(.9)}
  60%{transform:scale(1.1)}
  80%{transform:scale(.95)}
  to{transform:scale(1)}
}

@keyframes fade-in{
  0%{opacity:0}
  to{opacity:1}
}

@keyframes fade-in-scale{
  0%{opacity:0;transform:scale(.5)}
  48%{opacity:1;transform:scale(1.03)}
  to{opacity:1;transform:scale(1)}
}

@keyframes fade-out{
  0%{opacity:1}
  to{opacity:0}
}

@keyframes fade-out-scale{
  0%{opacity:1;transform:scale(1)}
  to{opacity:0;transform:scale(.5)}
}

@keyframes rebound{
  0%{transform:scale(.8)}
  20%{transform:scale(1.2)}
  40%{transform:scale(.9)}
  60%{transform:scale(1.1)}
  80%{transform:scale(.95)}
}

@keyframes twinkle{
  0%{opacity:.5}
  50%{opacity:1}
  to{opacity:.5}
}

@keyframes zoom-in{
  0%{opacity:0;transform:scale(1.1)}
  to{opacity:1;transform:scale(1)}
}

@keyframes zoom-out{
  0%{opacity:1;transform:scale(1)}
  to{opacity:0;transform:scale(1.1)}
}

/* 组件特定动画 */
@keyframes rth-dc43316c{
  0%{opacity:1}
  50%{opacity:.7}
  to{opacity:1}
}

@keyframes rth-1081e03a{
  0%{opacity:0;transform:rotate3d(1,1,0,90deg)}
  50%{transform:rotate3d(1,1,0,-6deg)}
  to{opacity:1;transform:rotate3d(0,0,0,0)}
}

@keyframes rth-01cbc2cc{
  0%{opacity:0;transform:scale(1.1)}
  to{opacity:1;transform:scale(1)}
}

@keyframes rth-102a7221{
  0%{opacity:0;transform:translate(-50%) translateY(50%)}
  to{opacity:1;transform:translate(-50%)}
}

@keyframes rth-dc5a6082{
  25%{transform:rotate(2deg)}
  50%{transform:rotate(0)}
  75%{transform:rotate(-2deg)}
}

@keyframes rth-683e75b3{
  0%{opacity:0;transform:translateY(-100%)}
  to{opacity:1;transform:translateY(0)}
}

@keyframes rth-316570d1{
  0%{opacity:1;transform:translateY(0)}
  to{display:none;opacity:0;transform:translateY(100%)}
}

@keyframes rth-1adce35a{
  0%{opacity:0;transform:scale(.5)}
  50%{opacity:1;transform:scale(1.05)}
  to{opacity:1;transform:scale(1)}
}

@keyframes rth-ca525c07{
  0%{opacity:0;transform:translateY(-100px)}
  to{opacity:1;transform:none}
}

@keyframes rth-d6138d37{
  0%{opacity:1;transform:none}
  to{opacity:0;transform:translateY(-100px)}
}

@keyframes rth-19e50a5b{
  0%{transform:rotate(0)}
  to{transform:rotate(360deg)}
}

@keyframes rth-555de5d1{
  0%{transform:translate(-100%)}
  to{transform:translate(200%)}
}

@keyframes rth-cba5a23c{
  0%{opacity:0;transform:translateY(50%)}
  to{opacity:1;transform:none}
}

@keyframes rth-677b77d7{
  0%{opacity:1;transform:none}
  to{opacity:0;transform:translateY(-50%)}
}

@keyframes rth-d75cf0fa{
  0%{max-height:0;opacity:0}
  to{max-height:340px;opacity:1}
}

@keyframes rth-4f8a6b7d{
  0%{max-height:340px;opacity:1}
  to{max-height:0;opacity:0}
}