/* 组件样式 */

/* 按钮组件 */
.rth-a9ebff04{
  align-items:center;
  background-color:transparent;
  border:none;
  border-radius:5px;
  color:var(--black-alpha-80);
  cursor:pointer;
  display:inline-flex;
  font-size:13px;
  height:40px;
  justify-content:center;
  padding:0;
  transition:.25s;
  width:50px;
}

.rth-a9ebff04:focus-visible,.rth-a9ebff04:hover{
  background-color:var(--black-alpha-5);
}

.rth-a9ebff04:active{
  background-color:var(--theme-color);
  color:var(--white-alpha-80);
}

.rth-a9ebff04:not(:first-of-type){
  margin-left:5px;
}

/* 卡片组件 */
.rth-268dcf51{
  background-color:var(--primary-background-color);
  border-radius:10px;
  color:var(--pure-black-text-color);
  margin-bottom:8px;
  padding:10px;
  position:relative;
  text-decoration:none;
  transition:background-color .1s,opacity .1s;
  width:calc(50% - 4px);
}

.rth-268dcf51:focus-visible{
  outline:2px solid var(--theme-color);
}

.rth-268dcf51:hover{
  background-color:var(--primary-background-color-hover);
}

.rth-268dcf51:active{
  opacity:.6;
}

.rth-268dcf51 button{
  background-color:var(--black-alpha-5);
  border:none;
  border-radius:5px;
  color:var(--black-alpha-60);
  cursor:pointer;
  transition:.25s;
}

.rth-268dcf51 button:focus-visible,.rth-268dcf51 button:hover{
  background-color:var(--theme-color);
  color:var(--pure-white-background-color);
}

.rth-268dcf51 button:active{
  opacity:.8;
}

/* 表单控件 */
.rth-bffc9edb{
  background-color:transparent;
  border:1px solid var(--black-alpha-5);
  border-radius:5px;
  color:var(--black-alpha-60);
  display:flex;
  height:30px;
  justify-content:space-between;
  margin-top:10px;
  padding:5px 7px 5px var(--main-form-controls-horizontal-padding);
  transition:border-color .1s;
  width:100%;
}

.rth-bffc9edb:hover{
  border-color:var(--black-alpha-10);
}

.rth-bffc9edb:focus-visible,.rth-bffc9edb:active{
  border-color:var(--theme-color);
}

.rth-bffc9edb div{
  align-items:center;
  display:flex;
}

.rth-bffc9edb svg{
  margin-right:var(--main-form-controls-icon-spacing);
}

/* 模态框组件 */
.rth-7d653d1f{
  background-color:var(--secondary-background-color);
  border-radius:10px;
  box-shadow:rgba(0,0,0,.05) 0 10px 20px;
  font-size:small;
  height:500px;
  left:calc(50% - 300px);
  overflow:hidden;
  position:absolute;
  top:calc(50% - 250px);
  transition:.25s;
  width:600px;
}

.rth-7d653d1f.rth-ae7ae29e{
  height:calc(100% - 100px);
  left:50px;
  top:50px;
  width:calc(100% - 100px);
}

.rth-7d653d1f.rth-0965be10{
  background-color:var(--pure-white-background-color);
}

.rth-7d653d1f ::-webkit-scrollbar-thumb{
  background-color:var(--black-alpha-10);
}

.rth-7d653d1f ::-webkit-scrollbar-thumb:hover{
  background-color:var(--black-alpha-20);
}

.rth-7d653d1f ::-webkit-scrollbar-thumb:active{
  background-color:var(--theme-color);
}

/* 通知组件 */
.rth-91e188db{
  animation:rth-102a7221 1s;
  -webkit-backdrop-filter:var(--main-backdrop-filter);
  backdrop-filter:var(--main-backdrop-filter);
  background-color:var(--white-alpha-10);
  border-radius:20px;
  bottom:10px;
  box-shadow:rgba(0,0,0,.2) 0 0 10px;
  display:flex;
  left:50%;
  max-width:calc(100% - 20px);
  overflow:hidden;
  padding:10px;
  position:fixed;
  transform:translate(-50%);
  transition:.25s;
  white-space:nowrap;
}

.rth-91e188db.rth-7615b8fd{
  bottom:40px;
}

.rth-91e188db::-webkit-scrollbar{
  height:0;
}

.rth-91e188db>*{
  flex-shrink:0;
}

.rth-91e188db>*:not(:first-child){
  margin-left:10px;
}

/* 图标按钮 */
.rth-4221a4f2{
  align-items:center;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:var(--off-white-background-color);
  border:none;
  border-radius:15px;
  cursor:pointer;
  display:flex;
  height:80px;
  justify-content:center;
  outline-offset:2px;
  padding:0;
  position:relative;
  transition:background-color .35s;
  width:80px;
}

.rth-4221a4f2:focus-visible{
  outline:2px solid white;
}

.rth-4221a4f2:focus-visible,.rth-4221a4f2:hover{
  background-color:var(--white-background-color-hover);
}

.rth-4221a4f2:active{
  background-color:var(--white-background-color-active);
}

/* 标签组件 */
.rth-ed2e7ba5{
  background-color:var(--black-alpha-5);
  border-radius:5px;
  color:var(--black-alpha-60);
  display:inline-block;
  font-size:12px;
  padding:0 5px;
}

.rth-ed2e7ba5:not(:first-of-type){
  margin-left:8px;
}

/* 提示框组件 */
.rth-1ee01d5d{
  background-color:var(--pure-white-background-color);
  border-radius:10px;
  box-shadow:var(--main-box-shadow);
  font-size:12px;
  max-width:300px;
  min-width:160px;
  padding:20px 25px;
  position:fixed;
  transform-origin:top right;
  transition:.1s var(--cubic-bezier);
}

.rth-1ee01d5d h1{
  font-size:15px;
  font-weight:700;
  margin:0;
  text-align:right;
}

.rth-1ee01d5d p{
  color:var(--black-tip-text-color);
  margin:10px 0 0;
  font-family:var(--fonts);
}

.rth-1ee01d5d .rth-46267b69{
  background-color:var(--theme-color);
  border:none;
  border-radius:5px;
  color:var(--pure-white-text-color);
  cursor:pointer;
  font-family:var(--fonts);
  font-size:small;
  margin-top:10px;
  padding:10px 20px;
  transition:background-color .1s,filter .1s;
  white-space:nowrap;
}

.rth-1ee01d5d .rth-46267b69:hover{
  filter:brightness(1.1);
}

.rth-1ee01d5d .rth-46267b69:active{
  background-color:var(--theme-color-active);
  filter:none;
}

/* 开关组件 */
.rth-a31d0557{
  flex-shrink:0;
  height:20px;
  position:relative;
  width:36px;
}

.rth-a31d0557 input{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:none;
  border-radius:15px;
  height:100%;
  margin:0;
  width:100%;
}

.rth-a31d0557 input:focus-visible{
  outline:2px solid var(--theme-color);
}

.rth-a31d0557 input:checked+.rth-26e5878d{
  background-color:var(--theme-color);
}

.rth-a31d0557 input:checked+.rth-26e5878d:before{
  transform:translate(16px);
}

.rth-a31d0557:active .rth-26e5878d{
  background-color:#c8c8c8;
}

.rth-a31d0557:active input:checked+.rth-26e5878d{
  background-color:var(--theme-color-active);
}

.rth-26e5878d{
  background-color:#d7d7d7;
  border-radius:10px;
  bottom:0;
  cursor:pointer;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0;
  transition:.25s;
}

.rth-26e5878d:before{
  background-color:#fff;
  border-radius:50%;
  box-shadow:0 5px 5px rgba(0,0,0,.1);
  content:"";
  height:16px;
  left:2px;
  position:absolute;
  top:2px;
  transition:.25s;
  width:16px;
}

.dark .rth-26e5878d{
  background-color:#444;
}

.dark .rth-a31d0557:active .rth-26e5878d{
  background-color:#555;
}
