/* 布局样式 */

/* 容器布局 */
.rth-7bb3e017{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.rth-2bb3c14b{
  display:flex;
  height:100%;
}

.rth-aeda6a7d{
  display:flex;
  flex-grow:1;
  margin-top:5px;
  overflow:hidden;
}

/* 网格布局 */
.rth-6ba4d467{
  border-bottom:1px solid transparent;
  border-top:1px solid transparent;
  display:grid;
  grid-gap:50px;
  grid-template-columns:repeat(5,80px);
  left:50%;
  max-height:calc(100vh - 330px);
  overflow-x:hidden;
  overflow-y:auto;
  padding:10px 10px 50px;
  position:fixed;
  scrollbar-width:none;
  top:200px;
  transform:translate(-50%);
  transition:border-color .25s;
}

.rth-6ba4d467.rth-94058404{
  border-color:rgba(255,255,255,.1);
}

.rth-6ba4d467.rth-4deed7d3{
  border-bottom-color:transparent;
}

.rth-6ba4d467::-webkit-scrollbar{
  width:0;
}

.rth-df9d1633{
  align-items:center;
  display:grid;
  grid-gap:8px;
  grid-template-columns:repeat(5,1fr);
  margin-top:10px;
}

/* 弹性布局 */
.rth-10b000eb{
  align-items:center;
  display:flex;
  overflow:hidden;
}

.rth-22a92113{
  align-items:center;
  display:flex;
}

.rth-22a92113 img{
  border-radius:5px;
  margin-right:10px;
}

.rth-725521a3{
  align-items:center;
  display:flex;
  justify-content:space-between;
}

.rth-c00d42b2{
  display:flex;
}

.rth-bad77ccc{
  align-items:flex-start;
  display:flex;
  padding:20px;
}

.rth-dcd98d54{
  align-items:center;
  display:flex;
}

.rth-cb452538{
  align-items:center;
  display:flex;
}

/* 定位布局 */
.rth-890ed399{
  left:32px;
  max-height:calc(100vh - 60px);
  overflow-y:auto;
  padding:40px 8px 10px;
  position:fixed;
  transition:transform .35s;
}

.rth-4b13a814{
  padding:10px;
  position:fixed;
  right:35px;
  top:20px;
  z-index:1;
}

.rth-fb90511a{
  animation-duration:1s;
  color:#fff;
  cursor:pointer;
  font-family:-apple-system,BlinkMacSystemFont;
  font-size:42px;
  font-weight:400;
  left:50%;
  max-width:300px;
  padding:10px;
  position:fixed;
  text-align:center;
  text-overflow:ellipsis;
  text-shadow:0 0 20px rgba(0,0,0,.35);
  top:115px;
  transform:translate(-50%);
  transition:color .25s,font-weight .25s,text-shadow .25s,top .25s;
  white-space:nowrap;
}

.rth-5bd52e6a{
  backface-visibility:hidden;
  height:100%;
  left:0;
  -o-object-fit:cover;
  object-fit:cover;
  opacity:0;
  position:fixed;
  top:0;
  transition:filter .25s,opacity 1s,transform .25s;
  width:100%;
  z-index:-3;
}

.rth-26ed32e2{
  height:100%;
  left:0;
  opacity:0;
  position:fixed;
  top:0;
  transition:.25s;
  width:100%;
  z-index:-1;
}

/* 溢出处理 */
.rth-e2db0bde{
  overflow:hidden;
}

.rth-2d855175{
  color:var(--black-alpha-60);
  font-size:12px;
  margin-top:1px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.rth-b3107f50{
  font-size:16px;
  font-weight:700;
  max-width:150px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.rth-4296a60d{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.rth-847d138a,.rth-029e08d5{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

/* 间距和边距 */
.rth-0355e9f8:not(:first-of-type){
  margin-left:10px;
}

.rth-4bcc1eed,.rth-ed2e7ba5:not(:first-of-type){
  margin-left:8px;
}

.rth-e642d5f6:not(:first-of-type){
  margin-left:8px;
}

.rth-202fb3d2:not(:first-of-type){
  margin-left:10px;
}

.rth-0f8d0719:not(:first-child){
  margin-left:10px;
}

/* 尺寸控制 */
.rth-be8ad997{
  width:180px;
}

.rth-7d55e630{
  background-color:#fff;
  border-radius:10px;
  box-shadow:var(--main-box-shadow);
  font-size:small;
  opacity:0;
  overflow:hidden;
  position:absolute;
  transform-origin:50% 100%;
  width:300px;
  z-index:2;
}